#Ignore this for now! to be updated

# Canvas LMS OAuth2 Credentials
CANVAS_CLIENT_ID=your_canvas_client_id_here
CANVAS_CLIENT_SECRET=your_canvas_client_secret_here
CANVAS_REDIRECT_URI=http://localhost:3000/api/auth/callback/canvas


# MySQL Database connection
DB_HOST=your_mysql_database_host
DB_USER=your_mysql_user
DB_PASSWORD=your_mysql_password
DB_NAME=your_mysql_database_name
DB_PORT=3306 # Default MySQL port