.App {
    text-align: center;
    margin: 0 10px;
    background-color:#C0D3DB;
  }

  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
.custom-button {
    background-color: #f0f0f0; /* Example background color, match this to your design */
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-family: 'Verdana';
    font-weight:bold;
    color:#5D7179;
    box-shadow: 0 2px 1px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
  }
  .custom-button:hover {
    background-color: #e0e0e0; 
  }
  .card-dropdown {
    position: absolute;
    top: 60px; 
    right: 30px; 
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    z-index: 100;
    box-shadow: 0 2px 1px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    
  }
  
  .dropdown-item {
    display: block;
    margin: 10px 0;
    background: none;
    color: #5D7179;
    border: none;
    padding: 0;
    text-decoration: underline;
    /* Additional styling */
  }
  .card-header{
    font-weight:bold;
    font-size:medium;
    color:#5D7179;
  }
  .notification-dropdown {
    position: absolute;
    top: 60px; /* Adjust as needed */
    right: 80px; /* Adjust as needed */
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    z-index: 100; /* Higher than other components */
    text-align: left;
  }

  
  .notification-header {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    color:#5D7179;
  }
  
  .notification-list {
    list-style: none;
    padding: 0;
    color:#d81010;
  }
  
  .notification-item {
    padding: 5px 0;
    /* Additional styling */
  }
  .Calendar{
    margin: 0 20px;
  }

  .event-form-container {
    position: fixed; /* Fixed position to overlay on top of other content */
    top: 50%;       /* Center the form vertically */
    left: 50%;      /* Center the form horizontally */
    transform: translate(-50%, -50%); /* Adjust the form position to truly center it */
    z-index: 1000;   /* Make sure it's above other elements */
    background: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 300px; /* Fixed width for the form */
  }
  
  .event-form-container form {
    display: flex;
    flex-direction: column;
  }
  
  .event-form-container input[type="text"],
  .event-form-container input[type="date"],
  .event-form-container input[type="time"] {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .event-form-container input[type="checkbox"] {
    margin: 10px 0;
  }
  
  .event-form-container button {
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
  }
  
  .event-form-container button[type="button"] {
    background-color: #6c757d;
  }
  
  .event-form-container button:hover {
    opacity: 0.8;
  }
  