.App {
    text-align: center;
    
    background-color:#C0D3DB;
  }

  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
.custom-button {
    background-color: #f0f0f0;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-family: 'Verdana';
    font-weight:bold;
    font-size: 15px;
    color:#5D7179;
    box-shadow: 0 2px 1px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
  }
  .custom-button:hover {
    background-color: #e0e0e0; 
  }
  .card-dropdown {
    position: absolute;
    top: 60px; 
    right: 30px; 
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    z-index: 100;
    box-shadow: 0 2px 1px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    
  }
  
  .dropdown-item {
    display: block;
    margin: 10px 0;
    background: none;
    color: #5D7179;
    border: none;
    padding: 0;
    text-decoration: underline;

  }
  .card-header{
    font-weight:bold;
    font-size:medium;
    color:#5D7179;
  }
  .notification-dropdown {
    position: absolute;
    top: 60px; 
    right: 80px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    z-index: 100;
    text-align: left;
  }

  
  .notification-header {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    color:#5D7179;
  }
  
  .notification-list {
    list-style: none;
    padding: 0;
    color:#d81010;
  }
  
  .notification-item {
    padding: 5px 0;

  }
  .Calendar{
    margin: 0 20px;
  }

  .event-form-container {
    position: fixed;
    top: 50%;      
    left: 50%;      
    transform: translate(-50%, -50%); 
    z-index: 1000;  
    background: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 300px; /* Fixed width for the form */
    font-family:'Verdana';
  }
  .create-header{
    font-size:20px;
    font-family:'Verdana';
    padding-bottom:10px;
    font-weight:bold;
    color:#5D7179;
  }
  .event-form-container form {
    display: flex;
    flex-direction: column;
  }
  
  .checkbox label {
   margin:10px;
}


  .event-form-container input[type="text"],
  .event-form-container input[type="date"],
  .event-form-container input[type="time"] {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .event-form-container input[type="checkbox"] {
    margin: 10px 0;
  }
  
  .event-form-container button {
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #5D7179;
    color: white;
    font-size:15px;
  }
  
  .event-form-container button[type="button"] {
    background-color: #011720;
    font-size:15px;
  }
  
  .event-form-container button:hover {
    opacity: 0.8;
  }

  .fc .fc-view-harness {
    background-color: #f0f0f0; 
    border: 2px solid #5D7179;
    border-radius: 2px; 
    color: #5D7179;
  }
  

  .fc-view, .fc-view > table {
    background-color: #f0f0f0; 
  }

  .fc-header-toolbar .fc-toolbar-title {
    font-family: 'Verdana';  
    color: white;  
    font-size: 30px;
    text-shadow: 2px 2px #5D7179;
}

.fc .fc-button {
  color: #ffffff; 
  background-color: #5D7179;  
  border: 1px solid #4b6069;  
  border-radius: 30px;  
  padding: 8px 12px;  
  font-family: 'Verdana'; 
  font-size: 14px;  
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 1px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
    
}

.fc .fc-button:hover {
  background-color: #87a4b0;  
  border-color: #4b6069;  
}

.fc .fc-day-today {
  background-color: #5D7179!important; 
  color:white;
}

.fc .fc-event {
  background-color: #5fc880 !important;
  border-color: #5fc880 !important; 
  color: #ffffff !important; 
}
.fc .fc-event.assignment {
  background: #35cbfd !important;
}


.fc .fc-event.test {
  background: #ff0404;

}


.fc-event.study {
  background: #4caf50 !important; 
}


.fc-event.class {
  background: #ecf321 !important; 
}


.fc-event.misc {
  background: #9c27b0 !important; 
}

