.App {
    text-align: center;
    margin: 0 10px;
    background-color:#C0D3DB;
  }

  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
.custom-button {
    background-color: #f0f0f0; /* Example background color, match this to your design */
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-family: 'Verdana';
    font-weight:bold;
    color:#5D7179;
    box-shadow: 0 2px 1px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
  }
  .custom-button:hover {
    background-color: #e0e0e0; 
  }
  .card-dropdown {
    position: absolute;
    top: 60px; 
    right: 30px; 
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    z-index: 100;
    box-shadow: 0 2px 1px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    
  }
  
  .dropdown-item {
    display: block;
    margin: 10px 0;
    background: none;
    color: #5D7179;
    border: none;
    padding: 0;
    text-decoration: underline;
    /* Additional styling */
  }
  .card-header{
    font-weight:bold;
    font-size:medium;
    color:#5D7179;
  }
  .notification-dropdown {
    position: absolute;
    top: 60px; /* Adjust as needed */
    right: 80px; /* Adjust as needed */
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    z-index: 100; /* Higher than other components */
    text-align: left;
  }

  
  .notification-header {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    color:#5D7179;
  }
  
  .notification-list {
    list-style: none;
    padding: 0;
    color:#d81010;
  }
  
  .notification-item {
    padding: 5px 0;
    /* Additional styling */
  }
  .Calendar{
    margin: 0 20px;
  }
